<table class="table table-striped" [mfData]="data | dataFilter : {name:qName,owner:qOwner,breed:qBreed}" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
    <thead>
    <tr>
        <th style="width: 15%;">
            <mfDefaultSorter by="name">Nome</mfDefaultSorter>
            <input placeholder="Faça sua busca..." class="form-control" [(ngModel)]="qName"/>
        </th>
        <th style="width: 15%;">
            <mfDefaultSorter by="owner">Dono</mfDefaultSorter>
            <input placeholder="Faça sua busca..." class="form-control" [(ngModel)]="qOwner"/>
        </th>
        <th>
            <mfDefaultSorter by="breed">Raça</mfDefaultSorter>
            <input placeholder="Faça sua busca..." class="form-control" [(ngModel)]="qBreed"/>
        </th>
        <th>
            <mfDefaultSorter by="genre">Genero</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="castrated">Castrado</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="phone">Telefone</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="last_time">Última Visita</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="birthday">Aniversário</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
        <td>{{item.name}}</td>
        <td>{{item.owner}}</td>
        <td>{{item.breed}}</td>
        <td>{{item.genre}}</td>
        <td class="text-center"><span class="glyphicon glyphicon-{{item.castrated && 'ok' || 'remove'}}" aria-hidden="true"></span></td>
        <td>{{item.phone}}</td>
        <td>{{item.last_time | date: 'dd/MM/yyyy'}}</td>
        <td>{{item.birthday | date: 'dd/MM/yyyy'}}</td>
        <td>{{item.city | uppercase}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="12">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>